body,html{
	font-size:24px;
	font-weight: 200;
}
.container{
	height:750px;
	background-color: grey;
	margin-top: -30px;
	position: relative;
}
.image{
	padding-top: 10px;
	padding-left: 40px;
	margin-bottom: -30px;
	height:100px;
	width:100px;
	display: inline-block;
}
.header{
	position:absolute;
	left: 42%;
	font-size:40px;
	text-align: center;
	font-weight: 200;
	letter-spacing:3px;
	display: inline-block;
}
.sub-header{
	text-align: center;
	font-size: 25px;
}
.form-box{
	font-size: 25px;
	margin-left:30%;
	margin-top: 50px;

}
.form-items{
	padding:10px 0;
}
.hello1{
	font-size: 20px;
	width: 30%;
	margin-left:10.5%;
}
.hello2{
	font-size: 20px;
	width: 30%;
	margin-left:8%;
}
.hello3{
	font-size: 20px;
	width: 30%;
	margin-left:6%;
}
.hello5{
	font-size: 20px;
	width: 30%;
	margin-left:7%;
}
.btn{
	font-size: 25px;
	color: white;
	background-color:#2E31B4;
	padding: 3px 3px;
	border-radius:10px;
	border:2px solid black ;
}
.btn:hover{
	background-color:#6A6EC1;
	
	}
.btn-box{
	margin-top: 5%;
	margin-left:20%;
}
